<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://coachingcenter.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>coachingcenter.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CoachingCenter</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CoachingCenter</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CoachingModel" Order="1" Enabled="True">
          <Destination Path="Data Source=assignment3.database.windows.net;Initial Catalog=assignment3;User ID=vnallam;Password=India@321" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="CoachingCenter.Models.CoachingModel, CoachingCenter" MigrationConfiguration="CoachingCenter.Migrations.Configuration, CoachingCenter" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CoachingModel-Web.config Connection String">
      <ParameterValue>Data Source=assignment3.database.windows.net;Initial Catalog=assignment3;User ID=vnallam;Password=India@321</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>