@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WELCOME TO INVENTORY MANGEMENT SYSTEM</h1>
    <p class="lead">The website offers the feature to view, update and delete the list of Product,Customer and Orders. </p>

    <button id="product" type="submit" onclick="location.href='@Url.Action("Index", "Products")'">NAVIGATE TO PRODUCT LIST</button>
</div>

